{% extends 'base.html.twig' %}

{% block title %}
    Product {{ name }}
{% endblock %}

{% block body %}

    {% if products|length > 0 %}
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Categories</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>
                        {% for category in product.categories %}
                            <a href="{{ path('category', {'name': category}) }}">{{ category }}</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-danger text-center">
            Product "{{ name }}" doesn't exist
        </div>
    {% endif %}

{% endblock %}