{% if products|length > 0 %}
    <table class="table">
        <tr>
            <th>Product name</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>
                    {{ product.name }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="alert alert-danger text-center">
        There are no products in this category
    </div>
{% endif %}
